doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(src='./js.majiks.js')
  body
    header
      h1 Drankzzz
    .sidebar
      block sidebar
    .container
      .search
        block search
      i.fa.fa-random
      .main-content
        block content
    footer
      p #TeamPengPong