doctype
html
  head
    title #{title} - Drankzzz
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(id="search-result" type="text/x-handlebars-template")
      .search-result
        img(class="list" id="{{id}}" src='http://assets.absolutdrinks.com/drinks/200x300/{{ id }}.png')
        p {{ name }} 
    script(id="single-recipe" type="text/x-handlebars-template")
      .single-recipe
        h1#name {{ name }}
        img(id='{{id}}' class='single-img' src='http://assets.absolutdrinks.com/drinks/310x420/{{ id }}.png')
        .info
          h3 Ingredients
          {{#each ingredients}}
          p {{this.textPlain}}
          {{/each}}
          h3 How to mix
          p {{descriptionPlain}}
        iframe(width="640" height="480" src="https://www.youtube.com/embed/{{ video }}" allowFullScreen)
        button.back Back to Results
  body
    header
      h1 
        a(href='/') Drankzzz
    .sidebar
      block sidebar
    .container
      .search
        block search
      i.fa.fa-random.fa-2x
      .main-content
        block content
    footer
      p #TeamPengPong

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js")
    script(src="https://cdn.socket.io/socket.io-1.1.0.js")
    script(src="./js/majiks.js")